body {
    text-align: center; 
}

header {
    margin-bottom: 100px; 
}

.container {
    background-color: white;
    border-radius: 25px;
    width: auto;
    border: 1px solid #000000;
}

h1{
    color: rgb(8, 8, 8);
    font-size: 25px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

.table th {
    padding: 19px;
    font-size: 15px;
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: cursive;
    
}

.table td {
    padding: 25px;
    color: #000000;
    font-size: 14px;
    font-family: cursive;
    cursor: pointer;
}
.table td:hover{
    color:rgb(255, 255, 255);
    background-image: linear-gradient( 179.4deg,  rgba(12,20,69,1) -16.9%, rgba(71,30,84,1) 119.9% );
    border-radius: 20px;
}
.table .btn {
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #ffffff;
}

.table .btn-info {
    background-color:#007bff;
    border-radius: 50px;
}

.btn-info:hover{
    background-color:rgb(241, 249, 252);
    color:#000;
}

.table .btn-primary {
    background-color:#007bff;
    border-radius: 50px;
}
.btn-primary:hover {
    background-color:rgb(241, 249, 252);
    color:#000;
}
.table .btn-danger {
    background-color: #dc3545;
    border-radius: 50px;
    cursor: pointer;
}

.table .btn-danger:hover{
    background-color:rgb(241, 249, 252);
    color:#000;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 2px 20px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}

.table a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

